<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.mxsig.com.mx">
                        ANT
                    </a>
                </li>
                <li>
                    <a href="http://www.mxsig.com.mx">
                        Somos
                    </a>
                </li>
                <li>
                    <a href="http://www.mxsig.com.mx">
                        Pagina
                    </a>
                </li>
                <li>
                    <a href="http://www.mxsig.com.mx">
                        Licencias
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Hecho por 
            <a href="http://www.mxsig.com.mx" target="_blank">Antonio Espiritu </a> y Fernando Duran.
        </div>
    </div>
</footer>
